* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$BrightBlue: hsl(220, 98%, 61%);
$linear-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

$veryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$veryDarkGrayishBlue: hsl(237, 14%, 26%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlueHover: hsl(236, 33%, 92%);

body {
  background-color: $veryDarkBlue;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  position: relative;
  .background {
    width: 100%;
  }
}

.container {
  padding: 0 30vw;
  position: absolute;
  width: 100%;
  top: 70px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    h1 {
      color: white;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
  }
  label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: $veryDarkGrayishBlue;
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 5px;
    input.text {
      padding: 15px;
      background-color: $veryDarkGrayishBlue;
      border: none;
      font-family: "Josefin Sans", sans-serif;
      font-size: 16px;
      color: $DarkGrayishBlue;
      &:focus {
        outline: none;
        color: $LightGrayishBlue;
      }
    }
  }
  main {
    border-radius: 5px;
    overflow: hidden;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $veryDarkGrayishBlue;
  padding: 5px;
  p {
    color: $DarkGrayishBlue;
    font-size: 14px;
    padding: 10px;
    font-weight: 700;
  }
  button {
    border: none;
    background-color: $veryDarkGrayishBlue;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    padding: 10px;
    color: $DarkGrayishBlue;
    cursor: pointer;
    &:hover {
      color: $LightGrayishBlueHover;
    }
  }
}
ul {
  list-style-type: none;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: $veryDarkGrayishBlue;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    border-bottom: 1px solid $DarkGrayishBlue;
    color: $LightGrayishBlue;
    text-decoration: none;
    div {
      display: flex;
      align-items: center;
      input {
        cursor: pointer;
      }
      .box input:checked ~ .checkmark {
        border: none;
        background: $linear-gradient;
      }

      /* Show the checkmark when checked */
      .box input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      .box .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 8px;
        top: 5px;
        width: 3px;
        height: 6px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    p {
      padding: 0 15px;
    }
  }
}

footer {
  text-align: center;
  color: $DarkGrayishBlue;
  padding-top: 40px;
  .attribution {
    font-size: 11px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

.box {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    z-index: 1;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid $DarkGrayishBlue;
  }
}
.checked {
  color: $DarkGrayishBlue;
  text-decoration: line-through;
}
.inactive {
  display: none;
}

.active {
  display: flex;
}
